# Remote Neon DB connection (uncomment & update if using remote Neon):
NEON_DATABASE_URL="postgresql://neondb_owner:npg_TQtoYA4PDCU1@ep-delicate-shape-b3ujozkp-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/portfolio_db?schema=public"
JWT_SECRET="/QWTAtLq9BR5lBKkglcQPcShy2mRN1wgpnOG9MdsvqVN3/awzBPVs+wIQ8tjC0x5"
PORT=5000
FRONTEND_URL="http://localhost:5173"

ADMIN_NAME="Chaitanya Anmulwar"
ADMIN_EMAIL="chaitanyaanmulwar1702@gmail.com"
ADMIN_PASSWORD="Chaitanya@17"